.albumcard {
  width: 180px;
  background: #121212;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.albumcard:hover {
  background: #1a1a1a;
  transform: scale(1.04);
}

/* IMAGE */
.imagewrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 8px;
}

.albumimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT WRAPPER */
.albumtext {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* ALBUM NAME */
.albumname {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  line-height: 1.3;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ARTIST */
.artistnames {
  font-size: 13px;
  color: #aaa;
  line-height: 1.3;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* PLAY BUTTON */
.playbutton {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #1db954;
  border: none;
  color: black;
  opacity: 0;
  transition: 0.2s ease;
}

.imagewrapper:hover .playbutton {
  opacity: 1;
}
