.albumcard {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
  box-sizing: border-box;
  height: 230px; 
}

.albumcard:hover {
  transform: scale(1.05);
  background-color: #1a1a1a;
}

.imagewrapper {
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 8px;
  overflow: hidden;
}
.albumimage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;  
}
.a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 5px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  white-space: normal; 
  overflow: hidden;
  line-height: 1.2em;
  max-height: calc(1.2em * 2);
  text-overflow: ellipsis;
}


.artistnames {
 font-size: 14px;
  font-weight: 500;
  color: #aaa;
  text-align: center;
  margin-top: 2px;
  width: 100%;                  
  display: -webkit-box;         
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;    
   line-clamp: 2;   
    white-space: normal; 
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  max-height: calc(1.2em * 2);
  word-break: break-word;         
}




.playbutton {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #1db954;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease, filter 0.2s ease;
}

.imagewrapper:hover .playbutton {
  opacity: 1;
}


.playbutton:hover .playicon {
  transform: scale(1.2);
  filter: brightness(1.2);
  transition: transform 0.2s ease, filter 0.2s ease;
}






