.trendingsongs-section {
  margin: 1px 0;
}

.trendingsongs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.trendingsongs-header h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.scroll-container {
  position: relative;
}

.songs-row {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;

  -ms-overflow-style: none;  
  scrollbar-width: none;
}
.songs-row::-webkit-scrollbar {
  display: none;
}

.songcard-wrapper {
  flex: 0 0 auto;
  margin-right: 12px;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #121212;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  font-size: 18px;
  color: #fff;
}

.scroll-btn.left {
  left: 5px;
}

.scroll-btn.right {
  right: 5px;
}

.scroll-btn:hover {
  background: #1f1f1f;
}
